body {
  background-color: black;
}

.logo {
  max-width: 30%;
  height: auto;
}

.banner {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .banner {
  padding-top: 40%;
  }
}